.contact_container{
    grid-template-columns: 4fr 8fr;
}

.contact_title{
    font-size: var(--normal-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
}

.contact_description{
    font-size: var(--small-font-size);
    line-height: 1.6;
}
.contact_description,
.contact_info .info_item{
    margin-bottom: 20px;
}

.contact_info .info_item{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.contact_info .info_icon{
    color: var(--first-color);
    font-size: var(--h2-font-size);
}

.contact_info .info_title{
    font-size: var(--small-font-size);
}
.contact_info .info_desc{
    font-family: var(--body-font);
    font-size: var(--small-size-font);
    font-weight: var(--weight-600);
}

.contact_social{
    display: flex;
    column-gap: 20px;
}
.contact_social-link{
    background-color: var(--container-color);
    color: var(--title-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease;

    &:nth-child(1){
        font-size: 25px;
    }
    &:nth-child(2){
        font-size: 25px;
    }
    &:nth-child(3){
        font-size: 25px;
    }
}

.contact_social-link:hover{
    background-color: var(--first-color);
    color: var(--text-white);
}

.form_input-group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
}

.form_input-div{
    margin-bottom: 30px;
}

.form_control{
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    color: var(--text-color);
    width: 100%;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: var(--small-font-size);
    transition: all 0s ease;
}

.form_control:focus{
    border: 2px solid var(--first-color);
    /* border-color: var(--first-color); */
}

.textarea{
    resize: none;
    height: 160px;
}
.button{
    margin-left: 0;
}
.contact_button-icon{
    font-size: var(--h3-font-size);
    line-height: 65px;
}


@media screen and (max-width: 450px){
    .contact_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}