

@media screen and (max-width: 1400px){
.container{
    /* max-width: calc(100% - 180px); */
}
}

/* .main_div{
    display: flex;
    justify-content: center;
} */


@media screen and (max-width: 1200px){
    .grid{
        gap: 20px;
    }
    .home_data{
        padding-right: 20px;
    }
    .homebutton{
        margin-left: 40px;
    }
    .home_title{
        font-size: var(--h1-font-size);
    }
    .home_description{
        font-size: var(--small-font-size);
    }
    .stats_title{
        padding:  15px 7px;
    }
    .stats_title ::before{
        width: 22px;
    }
    .skills_container{
        row-gap: 10px;
    }
    .progress_circle{
        width: 100px;
        height: 100px;
    }
    .skills_title{
        margin-top: 20px;
    }
    .resume_icon{
        width: 36px;
        height: 36px;
        font-size: 20px;
        line-height: 38px;
    }
    .resume_item::before{
        left : 18px
    }
    .resume_item{
        padding-left: 50px;
    }
    .portfolio_modal-content{
        max-width: 600px;
    }
    .modal_close{
        width: 40px;
        height: 40px;
    }

    .form_input-group{
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
    .form_input-group .form_input-div:last-child{
        grid-column: 1/-1;
    }
    .form_input-div{
        margin-bottom: 20px ;
    }
}

@media screen and (max-width: 1024px){
    .container{
        max-width: 720px;
    }
    .home{
        padding: 20px;
        grid-template-columns: 6fr 7fr;
    }
    .home_data{
        padding-right: 0;
    }
    .homebutton{
        grid-template-columns: 1fr;
        margin-left: 40px;
    }
    .section{
        padding-block: 30px;
    }
    .section_title{
        margin-bottom: 30px;
    }
    .about_container, 
    .resume_container,
    .contact_container{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .about_container{
        row-gap: 40px;
    }
    .subtitle_center{
        margin-bottom: 45px;
    }

    .skills_container{
        grid-template-columns: repeat(3,1fr);
    }
    .scorecards{
        grid-template-columns: repeat(2,1fr);
      }
    .resume_container{
        row-gap: 45pxpx;
    }
    .resume_item:not(:last-child){
        /* background-color: yellow; */
        margin-bottom: 45px;
    }
    .portfolio_container{
        grid-template-columns: repeat(2,1fr);
    }

    .contact_container{
        row-gap: 40px;
    }
}

@media screen and (max-width: 768px){
    .home.section.grid{
        display: flex;
        flex-direction: column;
    }
    .home{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 10px;
    }
    .color_block{
        display: none;
    }
    .home_img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        box-shadow: none;
        margin-top: auto;
    }
    .home_content{
        max-width: 400px;
        margin-bottom: auto;
        text-align: center;
    }
    .home_data{
        display: flex;
        width:max-content;
        flex-direction: column;
    }
    .home_title{
        width: 400px;
        text-align: center;
        margin: 0%;
        padding: 10px;
    }
    .home_description{
        width: 400px;
        text-align: justify;
        margin: 0%;
        padding: 10px 20px;
    }
    .homebutton{
        margin-left: 0;
    }
    .home_data .button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 40px;
    }
    .scorecards{
        grid-template-columns: repeat(2,1fr);
        display: flex;
        align-items: center;
    }
    .container{
        width:100%;
        display:flex;
        flex-direction: column; 
        padding: 0 30px;
    }
    /* .about_container{
        background-color: aqua;
        margin: 0 35px;
    } */
    .portfolio_modal-content{
        padding: 25px 20px;
    }
    .modal_close{
        top: -9%;
        right: 0;
    }
}

@media screen and (max-width: 576px){
    .nav_toggle{
        top: 20px;
        right: 15px;
    }
    .nav_link{
        column-gap: 20px;
    }
    .nav_icon,
    .nav_name{
        font-size: var(--h3-font-size);
    }
    .main_div{
        width: 100%;
    }
    .stats{
        grid-template-columns: 1fr;
        margin: 10px 10%;
    }
    .about_info{
        margin: 10px 40px;
        text-align: center;
    }
    .info_list{
        column-gap: 10px;
        text-align:start;
    }
    .skills_container.grid{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .scorecards{
        grid-template-columns: 1fr;
    }

    .portfolio_container{
        grid-template-columns: 1fr;
        width: 95%;
    }
    .modal_list{
        grid-template-columns: 1fr;
    }
    .portfolio_modal-content{
        height: 500px;
    }
    .modal_title{
        margin-bottom: 5px;
    }
    .modal_list{
        margin-bottom: 10px;
    }
    .modal_img{
        height: 300px;
    }
    .form_input-group{
        grid-template-columns: 1fr;
    }
    .section{
        /* margin: 20px 30px; */
        /* background-color: red; */
        padding: 10px 30px;
    }
    .resume_item{
        padding-right: 20px;
        width: 100%;
    }
    .resume_item::before{
        display: none;
    }

}

@media screen and (max-width : 900px) {
    .theme_img{
        width: 25px;
    }
    .style_switcher-toggler,
    .theme_toggler{
        width: 30px;
        height: 30px;
    }
    .style_switcher-toggler{
        top: 5%;
    }
    .theme_toggler{
        top: 80%;
    }
    .style_switcher{
        top: 15%;
    }
    .show_switcher{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 325px;
        padding: 5px;
        width: 40px;
    }
    .style_switcher-title{
        display: none;
    }
    .style_switcher-items{
        text-align: center;
    }
    .style_switcher-close{
        font-size: 40px;
        height: 40px;
        top: -4%;
        left: 26%;
    }
}

@media screen and (max-width: 450px){
    .home.section.grid{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .home_content{
        display: flex;
        flex-direction: column;
    }
    .home_data{
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .home_title{
        width: 100%;
        padding: 0;
        font-size: var(--h1-font-size);
    }
    .home_description{
        width: 100%;
        text-align: justify;
        /* padding: 0 40px; */
    }
 
    .stats{
        grid-template-columns: 1fr;
        margin: 0px 0px;
    }
    .stats_box{
        margin: 0;
        padding: 20px;
    }
    .about_info{
        margin: 10px 10px;
    }
    .about_info .button{
       margin: 0;
       padding-left: 10%;
    }
    .resume_data{
        width: 100%;
        padding: 10px;
        justify-content: space-between;
    }
    .resume_item{
        width: 100%;
        height: max-content;
    }
    .container{
        width: 100%;
    }
    .info_list{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .modal_img{
        height: 250px;
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    .contact_form .button{
        height: 60px;
        line-height: 1.3;
    }
    .style_switcher{
        top: 10%;
    }
    /* .main_div .home{
        width:fit-content;
    } */
    .home_data{
        width: 100%;
    }
    .home_title{
       font-size: var(--h1-font-size);
    }
    .home_description{
        margin: 0;
        padding: 0 10px;
        text-align: justify;
    }
    .skills_container.grid {
        grid-template-columns: 1fr;
    }
}

